a.active.ui-btn  {
border: 1px solid #155678;
background: #4596CE;
font-weight: bold;
color: white;
cursor: pointer;
text-shadow: 0 -1px 1px #145072;
text-decoration: none;
background-image: -webkit-gradient(linear,left top,left bottom,from(#85BAE4),to(#5393C5));
background-image: -webkit-linear-gradient(top,#85BAE4,#5393C5);
background-image: -moz-linear-gradient(top,#85BAE4,#5393C5);
background-image: -ms-linear-gradient(top,#85BAE4,#5393C5);
background-image: -o-linear-gradient(top,#85BAE4,#5393C5);
background-image: linear-gradient(top,#85BAE4,#5393C5);
outline: 0;
}